<style type="text/css">
		@import 'https://fonts.googleapis.com/css?family=Montserrat';
		.container{
			background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e8/United_Nations_General_Assembly_Hall_(3).jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-origin: content-box;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			
		}
		.container li:hover{
			background: white;
			transition: all 0.45s;
			opacity: .91;
		}
		.nav navbar-nav{
			list-style-type: none;
			overflow: hidden;
			text-align: center;	
			width: 70%;		
			margin: auto;
			padding: 0;
		}
		/*li{
			float: right;
		}*/
		li a{
			text-decoration: none;
			display: block;
			padding: 16px;
			color: black;
			font-family:'Montserrat';
		}
		
	</style>